H1{
color:blue;
}

p{
    color:red;
    border-style: none;
}

li{
    list-style-type: square;
}

.resume{
    color:yellow;
}

a:link
{
    color:blue;
    font-weight:bold;
}

a:hover
{
    font-size:xx-large;
}

body
{
background-color: pink;
padding: 15px 15px 15px 15px;
}




/* game specific notified by .gameHTML class inserted into body of game.html <body> tag */


.gameHTML  {
    background-color:darkgray;
    border-color:black;
    color:white;
    padding:0;
    margin:0;
}
.startmenucontainer
{
    width:100%;
    height:100%;
    position:absolute;
} 
    
/*button attributed universal */
.gameHTML button
{
    border: 2px thick black;
    background-color: white;
    box-shadow: black, 2px, 2px;
    font-size:32px;
    padding: 1% 1%;
    text-align: center;
    text-decoration:none;
    box-shadow: 0 6px black;
    transition: 0s;
    display:block;
    
}
.gameHTML button:hover
{
    background-color: black;
    color: white;
    box-shadow:0 6px white;
    transition:0.5s;
}
/* button naturally fades to white while hovered */
.gameHTML button:active
{
    background-color: black;
    color: white;
    transform:translateY(4px);
    box-shadow:0 2px white;
    transition: 0s;
}
/* animation that gives the illusion of the button being clicked using shadows */
.gameHTML .startGame
{
    height:50%;
    width:100%;

}

.gameHTML .return
{
    height:50%;
    width:100%;

}



